<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Comercial detalles</title>
    <link rel="stylesheet" th:href="@{/output.css}" />
  </head>
  <body class="flex flex-col items-center m-auto">
    <h3 class="mt-6">Comercial</h3>
    <section th:object="${comercial}" class="flex gap-6 mt-6">
      <table>
        <thead>
          <tr class="text-left">
            <th class="px-6 py-3 text-left">Nombre</th>
            <th class="px-6 py-3">Apellido 1</th>
            <th class="px-6 py-3">Apellido 2</th>
            <th class="px-6 py-3">Comision</th>
            <th class="px-6 py-3">Total</th>
            <th class="px-6 py-3">Media del Precio</th>
          </tr>
        </thead>
        <tbody class="text-left">
          <td th:text="*{nombre}"></td>
          <td th:text="*{apellido1}"></td>
          <td th:text="*{apellido2}"></td>
          <td th:text="*{comision}"></td>
          <td th:text="*{total}"></td>
          <td th:text="*{mediaTotalPedidos}"></td>
        </tbody>
      </table>
    </section>

    <section class="flex flex-col mt-6 items-center">
      <h3>Pedidos</h3>
      <table class="w-full text-sm text-left rtl:text-right mt-6">
        <thead class="text-xs text-gray-700 uppercase">
          <tr class="text-left bg-white border-b">
            <th class="px-6 py-3">Id</th>
            <th class="px-6 py-3">Total</th>
            <th class="px-6 py-3">Fecha</th>
            <th class="px-6 py-3">Nombre Cliente</th>
          </tr>
        </thead>
        <tbody class="text-left">
          <tr
            th:each="pedido : ${comercial.listaPedidos}"
            class="bg-white border-b"
          >
            <td th:text="${pedido.id}" class="px-6 py-4 font-medium"></td>
            <td th:text="${pedido.total}" class="px-6 py-4 font-medium"></td>
            <td th:text="${pedido.fecha}" class="px-6 py-4 font-medium"></td>
            <td class="px-6 py-4 font-medium">
              <a
                th:text="${pedido.nombreCliente}"
                th:href="@{/clientes/}+${pedido.idCliente}"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
